name: publish to maven
on:
  release:
    types: [ created ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: publish to maven central
        run: ./gradlew publishAndReleaseToMavenCentral --no-configuration-cache


